# about data
hotel: Jenis hotel (misalnya, Hotel Resor atau Hotel Kota).

is_canceled: Nilai 1 jika pemesanan dibatalkan, dan 0 jika pemesanan tidak dibatalkan.

lead_time: Jumlah hari antara tanggal masuk pesanan dan tanggal kedatangan.

arrival_date_year: Tahun kedatangan.

arrival_date_month: Bulan kedatangan.

arrival_date_week_number: Nomor minggu kedatangan.

arrival_date_day_of_month: Hari kedatangan dalam sebulan.

stays_in_weekend_nights: Jumlah malam akhir pekan (Sabtu atau Minggu) yang dipesan.

stays_in_week_nights: Jumlah malam hari kerja (Senin hingga Jumat) yang dipesan.

adults: Jumlah orang dewasa.

children: Jumlah anak-anak.

babies: Jumlah bayi.

meal: Jenis paket makanan yang dipesan.

country: Negara asal pelanggan.

market_segment: Penunjukan segmen pasar.

distribution_channel: Saluran distribusi pemesanan.

is_repeated_guest: Nilai 1 jika nama pemesanan adalah tamu yang berulang, dan 0 sebaliknya.

previous_cancellations: Jumlah pembatalan sebelumnya oleh pelanggan ini.

previous_bookings_not_canceled: Jumlah pemesanan sebelumnya yang tidak dibatalkan oleh pelanggan ini.

reserved_room_type: Jenis kamar yang dipesan.

assigned_room_type: Jenis kamar yang ditetapkan.

booking_changes: Jumlah perubahan yang dilakukan pada pemesanan dari waktu masuk hingga waktu check-in atau pembatalan.

deposit_type: Indikasi apakah pelanggan membayar uang muka, tidak ada uang muka, atau uang muka tidak dapat dikembalikan.

agent: ID agen perjalanan.

company: ID perusahaan/entitas yang melakukan pemesanan.

days_in_waiting_list: Jumlah hari pemesanan berada dalam daftar tunggu sebelum dikonfirmasi ke pelanggan.

customer_type: Jenis pelanggan, menunjukkan apakah pemesanan bersifat ad-hoc, grup, kontrak, atau transien.

adr: Tarif Harian Rata-Rata (Average Daily Rate), didefinisikan sebagai total semua transaksi pemesanan dibagi dengan jumlah malam menginap.

required_car_parking_spaces: Jumlah tempat parkir yang dibutuhkan pelanggan.

total_of_special_requests: Jumlah permintaan khusus yang dibuat pelanggan (misalnya, tempat tidur tambahan, lantai tinggi, dll.).

reservation_status: Status reservasi:

Canceled: Pemesanan dibatalkan oleh pelanggan.

Check-Out: Pelanggan telah check-out.

No-Show: Pelanggan tidak muncul dan tidak memberi tahu hotel.

reservation_status_date: Tanggal saat status terakhir diperbarui.

In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('..\Data\hotel_bookings.csv')

In [91]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [92]:
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [93]:
df_shape = pd.DataFrame([df.shape], columns=['Rows', 'Columns'])
df_shape

     Rows  Columns
0  119390       32

In [94]:
df.shape

(119390, 32)

In [95]:
df_col = pd.DataFrame(df.columns, columns=['Column Name'])
df_col

                       Column Name
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [97]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [ ]:
cat_col = df.select_dtypes(include='object').columns # kolom numerik
num_col = df.select_dtypes(exclude='object').columns # kolom kategorik

In [99]:
cat_col

Index(['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type', 'reservation_status',
       'reservation_status_date'],
      dtype='object')

In [100]:
num_col

Index(['is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests'],
      dtype='object')

In [101]:
select_cols = ['is_canceled', 'arrival_date_year', 'hotel']
df[select_cols]

        is_canceled  arrival_date_year         hotel
0                 0               2015  Resort Hotel
1                 0               2015  Resort Hotel
2                 0               2015  Resort Hotel
3                 0               2015  Resort Hotel
4                 0               2015  Resort Hotel
...             ...                ...           ...
119385            0               2017    City Hotel
119386            0               2017    City Hotel
119387            0               2017    City Hotel
119388            0               2017    City Hotel
119389            0               2017    City Hotel

[119390 rows x 3 columns]

# Data Cleaning

In [102]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [103]:
df.isna().sum() / len(df) * 100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [104]:
df['country'] = df['country'].fillna('unknown')

In [105]:
df['country'].value_counts()

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: count, Length: 178, dtype: int64

In [106]:
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
64748,City Hotel,1,92,2017,March,11,15,0,3,2,...,Non Refund,NaN,NaN,0,Transient,85.0,0,0,Canceled,2016-12-13
93469,City Hotel,0,69,2016,July,30,19,0,3,2,...,No Deposit,9.0,NaN,0,Transient,180.3,0,2,Check-Out,2016-07-22
84291,City Hotel,0,0,2016,February,9,21,1,0,2,...,No Deposit,NaN,NaN,0,Transient,100.0,0,0,Check-Out,2016-02-22
103042,City Hotel,0,157,2016,December,50,8,0,3,2,...,No Deposit,83.0,NaN,0,Transient-Party,68.0,0,0,Check-Out,2016-12-11
10215,Resort Hotel,1,25,2017,February,8,20,1,2,2,...,No Deposit,240.0,NaN,0,Transient,48.0,0,3,Canceled,2017-01-31

In [107]:
df.duplicated().sum()

31994

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

0

In [110]:
df[df.duplicated()]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 32 columns]

In [ ]:
select_cols = ['agent', 'company'] # contoh mengisi missing value dengan loop

In [112]:
df[select_cols]

        agent  company
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3       304.0      NaN
4       240.0      NaN
...       ...      ...
119385  394.0      NaN
119386    9.0      NaN
119387    9.0      NaN
119388   89.0      NaN
119389    9.0      NaN

[87396 rows x 2 columns]

In [ ]:
for i in select_cols:
    df[i] = df[i].fillna(0)

In [114]:
df[select_cols]

        agent  company
0         0.0      0.0
1         0.0      0.0
2         0.0      0.0
3       304.0      0.0
4       240.0      0.0
...       ...      ...
119385  394.0      0.0
119386    9.0      0.0
119387    9.0      0.0
119388   89.0      0.0
119389    9.0      0.0

[87396 rows x 2 columns]

In [ ]:
# axis
# 1 -> column
# 0 -> row
df = df.drop(columns=['company'], axis=1)

In [117]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,0.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03